/AED_Assignment1/build/
/AED_Assignment1/dist/
/AED_Lab_3/dist/
/AED_Assignment3/JavaApplication4/nbproject/private/
/AED_Assignment3/AED_Assignment3/nbproject/private/
/AED_Assignment3/build/
/AED_Assignment3/dist/
/Lab_4/nbproject/private/
/Lab_4/build/
/Lab_4/dist/
/lab5_skeleton/dist/
/lab55/lab5_skeleton/dist/
/lab55/lab5_skeleton/nbproject/private/
/AED_Assignment5/lab5_skeleton/build/
/AED_Assignment5/lab5_skeleton/dist/
/AED_Assignment5/lab5_skeleton/nbproject/private/
/Assignment_6_Project/nbproject/private/
/Assignment_6_Project/build/
/Assignment_6_Project/dist/
/AED_Lab_6/dist/
/Lab7/nbproject/private/
/IMDBDataExtract/nbproject/private/
/IMDBDataExtract/build/
/IMDBDataExtract/dist/
/TestProject/nbproject/private/
/TestProject/build/
/TestProject/dist/